<div id="main-wrapper">

    <app-header></app-header>

    <app-sidebar></app-sidebar>

    <div class="page-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumbs -->
            <app-breadcrumbs></app-breadcrumbs>

            <!-- Mi sistema de rutas -->
            <router-outlet></router-outlet>

            <!--
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">

                        </div>
                    </div>
                </div>
            </div>
            -->

        </div>

        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer">
            <div class="row">
                <div class="col-lg-8">
                    <div class="copyright_text">
                        <P>
                            <script>
                                document.write(new Date().getFullYear());
                            </script>
                            Desarrollado por : Ing. Chehin Juan Martin
                        </P>
                    </div>
                </div>
                <div class="col-lg-4">
                    <a href="https://facebook.com/slider.tuc" class="single_social_icon" target="_blank">
                        <img src="./assets/images/facebook.png">
                    </a>
                    &nbsp; &nbsp;
                    <a href="https://instagram.com/slider.tucuman/" class="single_social_icon" target="_blank">
                        <img src="./assets/images/instagram.png">
                    </a>
                    &nbsp; &nbsp;
                    <a href="https://twitter.com/slidertuc" class="single_social_icon" target="_blank">
                        <img src="./assets/images/twitter.png">
                    </a>
                </div>
            </div>
        </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->

    </div>


</div>


<app-modal-imagen></app-modal-imagen>
